<div class="text-center">
    <h1 class="signup-title">
        Add Word
    </h1>
</div>
<div class="row">
    <div class="col-md-6 col-12">
      <%= form_for [:admin,@category, @word] do |f| %>
        <div class="form-group">
            <%= f.label :WORD %>
            <%= f.text_field :content, class: 'form-control' %>
        </div>
    </div>
    <div class="col-md-6 col-12 choice-col">
        <div class="form-group">
            <%= f.label :Choices %>
            <%= f.fields_for :choice do |ff| %>
              <%= ff.text_field :content, class: 'form-control mt-4' %>
            <% end %>
        </div>
        <div class="form-group">
            <%= f.submit "SUBMIT", class:'btn-block btn-color btn-custom'%>
        </div>
      <% end %>
    </div>
</div>