<h1 class="text-center user-all">All users</h1>

  <div class="row">
    
      
        <% @users.each do |user| %>
          <div class="col-md-6">
            <div class='media'>
              <% if user.picture? %>
                <%= image_tag user.picture.url(:thumb) %>
              <% else %>
                <%= link_to gravatar_for(user, size: 80), user %>
              <% end %>
              <div class="media-body ml-3">
                <h5><%= link_to user.name, user%>
                <% if current_user.admin?%>
                <%= link_to "Delete", user, method: :delete,
                                  data: { confirm: "You sure?" },class:"delete" %>
                <%end%>
                </h5>
              </div>
            </div>
          </div>
        <% end %>
    
  </div>

<div class="pagi">
<%= will_paginate %>
</div>