<div class="row">
  <div class="col-md-4">
    <div class="user-info text-center">
      <%= link_to gravatar_for @user %>
      <h2 class="border-bottom"><%= @user.name %></h2>
      <ul class="f-list">
        <li class="li-count"><%= link_to "#{@user.following.count} Following",following_user_path(@user) %></li>
        <li class="li-count"><%= link_to "#{@user.follower.count} Follower",followers_user_path(@user) %></li>
      </ul>
      <%= render "follow_form" if logged_in? %>
      <%= link_to "Learned 20 words", "#", class:"learned" %>
    </div>
  </div>
  <div class="col-md-8">
    <div class="activity border">
      <p class="ac-title">Activity</p>
      <ul class="ac-list list-inline">
        <li class="list-inline-item">
        <%= gravatar_for @user %>Kiki learned 20 of 20 words Basic 500
        </li>
        <li class="list-inline-item">
        <%= gravatar_for @user %>Kiki learned 20 of 20 words Basic 500
        </li>
        <li class="list-inline-item">
        <%= gravatar_for @user %>Kiki learned 20 of 20 words Basic 500
        </li>
      </ul>
    </div>
  </div>
</div>



