<div class="row">
  <div class="col-md-4">
    <div class="user-info text-center">
      <%= gravatar_for @user %>
      <h2 class="border-bottom"><%= @user.name %></h2>
      <%= render "follow_form" if logged_in? %>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= link_to gravatar_for(user, size: 30), user %>
          <% end %>
        </div>
      <% end %>
      <%= link_to "Learned 20 words", "#", class:"learned" %>
    </div>
  </div>
  <div class="col-md-8">
    <div class="activity border">
      <p class="ac-title"><%= @title %></p>
      <% if @users.any? %>
        <ul class="ac-list list-inline">
          <% @users.each do |user|%>
            <li class="list-inline-item">
            <%= link_to gravatar_for(user), user %><br>
            <%= user.name%>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
</div>



