<h1 class="cate-h1 mb-4">Profile</h1>

<div class="row">
  <div class="col-md-4">
    <div class="user-info text-center">
      <% if @user.picture? %>
        <%= image_tag @user.picture.url %>
      <% else %>
        <%= link_to gravatar_for @user %>
      <% end %>
      <h2 class="border-bottom"><%= @user.name %></h2>
      <ul class="f-list">
        <li class="li-count"><%= link_to "#{@user.following.count} Following",following_user_path(@user) %></li>
        <li class="li-count"><%= link_to "#{@user.follower.count} Follower",followers_user_path(@user) %></li>
      </ul>
      <%= render "follow_form" if logged_in? %>
      <% if @activities.any? %>
      <small>Learned <%= link_to @user.answers.count(@user.id),user_words_path(@user.id), class:"learned" %> words</small>
      <% else %>
      <small>Learned 0 words</small>
      <% end %>
      <div class="button">
        <%= link_to('Take a lesson', categories_path,class:"reg5")%>
      </div>
      <div class="button">
        <%= link_to('Find a user', users_path,class:"reg6")%>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="activity border">
      <p class="ac-title">Activity</p>
      <% if @activities.any? %>
          <% @activities.each do |activity| %>
          <ul class="ac-list">
            <% if activity.action_type == "Lesson"%>
            <li>
            <% if activity.user.picture? %>
              <%= image_tag activity.user.picture.url(:thumb) %>
            <% else %>
              <%= gravatar_for activity.user %>
            <% end %>
            <%= link_to activity.user.name, activity.user %> learned <%= lesson_count(activity.action_id) %> of <%= category_words(activity.action_id) %> words <%= link_to category_title(activity.action_id), lesson_path(activity.action_id) %>
            <small class="br">Posted <%= time_ago_in_words activity.created_at %> ago</small>
            </li>
            <% else %>
            <li>
            <% if activity.user.picture? %>
              <%= image_tag activity.user.picture.url(:thumb) %>
            <% else %>
              <%= gravatar_for activity.user %>
            <% end %>
            <%= link_to activity.user.name, activity.user %> followed <%= link_to user_follow(activity.action_id).name, user_follow(activity.action_id) %>
            <small class="br">Posted <%= time_ago_in_words activity.created_at %> ago</small>
            </li>
            <% end %>
          </ul>
          <% end %>
        <%= will_paginate @activities %>
      <% else %>
        <div class="text-center">Nothing to show</div>
      <% end %>
    </div>
  </div>
</div>



