<h1 class="cate-h1 mb-4">Dashboard</h1>

<div class="row">
  <div class="col-md-12 mb-4">
    <div class="user-info text-center">
      <% if current_user.picture? %>
        <%= image_tag current_user.picture.url %>
      <% else %>
        <%= link_to gravatar_for current_user %>
      <% end %>
      <h2><%= current_user.name %></h2>
      <% if @activities.any? %>
      <small>Learned <%= link_to word_all(current_user.id),user_words_path(current_user.id), class:"learned" %> words</small>
      <% else %>
      <small>Learned 0 words</small>
      <% end %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="activity border">
      <p class="ac-title text-center">Activity</p>
      <% if @activities.any? %>
          <% @activities.each do |activity| %>
          <ul class="ac-list">
            <% if activity.action_type == "Lesson"%>
            <li class="text-center">
              <% if activity.user.picture? %>
              <%= image_tag activity.user.picture.url(:thumb) %>
              <% else %>
                <%= gravatar_for activity.user %>
              <% end %>
            <div class="pp">
            <span><%= link_to activity.user.name, activity.user %> learned <%= lesson_count(activity.action_id) %> of <%= category_words(activity.action_id) %> words <%= link_to category_title(activity.action_id), lesson_path(activity.action_id) %></span>
            <br><small>Posted <%= time_ago_in_words activity.created_at %> ago</small>
             </div>
            </li>
            <% else %>
            <li class="text-center">
              <% if activity.user.picture? %>
              <%= image_tag activity.user.picture.url(:thumb) %>
              <% else %>
                <%= gravatar_for activity.user %>
              <% end %>
              <div class="pp">
              <%= link_to activity.user.name, activity.user %> followed <%= link_to user_follow(activity.action_id).name, user_follow(activity.action_id) %>
              <br><small>Posted <%= time_ago_in_words activity.created_at %> ago</small>
              </div>
            </li>
            <% end %>
          </ul>
          <% end %>
        <%= will_paginate @activities %>
      <% else %>
        <div class="text-center">Nothing to show</div>
      <% end %>
    </div>
  </div>
</div>